<div class="modal-content" data-bind="css: {'modal-open': active}, 
        clickBubble: false, 
        click: function () { return true; }">
    <form data-bind="submit: internalSubmit">
        <div class="modal-close-icon">
            <a href="#" data-bind="click: cancelCallback"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
        <div class="modal-content-inner">
            <h4 data-bind="text: title"></h4>
            <p data-bind="text: message"></p>
        </div>
        <!-- ko template: { nodes: $componentTemplateNodes, data: context } -->
        <!-- /ko -->
        <hr class="modal-buttons-seperator">
        <div class="modal-buttons">
            <button type="button" class="button" data-bind="text: buttonNegative, click: cancelCallback" />
            <button type="submit" class="button button-primary" data-bind="text: buttonPositive" />
        </div>
    </form>
</div>