<div class="modal-content">
    <div class="modal-close-icon" data-bind="css: {'modal-open': shown}">
        <a href="#" class="close-modal"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class="modal-content-inner">
        <h4 data-bind="text: title"></h4>
        <label data-bind="text: dropDownLabel"></label>

        <label data-bind="text: numberLabel"></label>
        <input data-bind="value: numberValue" name="lifetotal" 
            type="number" value="-1" />
    </div>
    <hr class="modal-buttons-seperator">
    <div class="modal-buttons">
        <button class="button close-modal">Cancel</button>
        <button data-bind="text: confirmText, click: confirmAction"
            class="button button-primary close-modal" 
            id="generalNumber-confirm"></button>
    </div>
</div>