.command {
    background-color: black;
    color: whitesmoke;
    min-height: 20px;
}

.command.input {
    width: 100%;
    min-width: 100%;
}

.actions {
    background-color: lightgray;
    padding: 10px;
    
}

.dispay {
    background: green;
}

#log {
    background: wheat;
    padding: 24px;
}

label.error {
    color: darkred;
    font-size: 8pt;
    /* compensate margins of Skeleton */
    margin-top: -1.5rem; 
    height: 1.0rem;
}

input.error {
    border-color: darkred; 
}
