body.modal-open {
    overflow: hidden;
}

.backplane {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: opacity .15s ease-in-out;
}
.modal-open .backplane {
  visibility: visible;
  backface-visibility: visible;
  opacity: 1;
  z-index: 1;
}
.backplane .modal-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backplane .modal-content {
  background-color: white;
  max-width: 35em;
  padding: 1em 1.5em;
  position: relative;
  margin: 2em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  display: none;
}
.backplane .modal-content.modal-open {
  visibility: visible;
  backface-visibility: visible;
  opacity: 1;
  display: block;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.backplane .modal-close-icon {
  position: absolute;
  right: 1.5em;
}
.backplane .modal-content-inner {
  padding-right: 2em;
}
.backplane .modal-content-inner h1, 
.backplane .modal-content-inner h2, 
.backplane .modal-content-inner h3, 
.backplane .modal-content-inner h4, 
.backplane .modal-content-inner h5, 
.backplane .modal-content-inner h6 {
  margin-bottom: 0.25em;
}
.backplane .modal-content-inner p {
  margin-bottom: 1em;
}
.backplane .modal-buttons-seperator {
  margin: 1.5em 0;
  margin-top: 0;
}
.backplane .modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.backplane .modal-buttons button {
  margin-left: 1em;
}
.backplane .modal-buttons button:first-child {
  margin-left: 0;
}

/* form styling */
.backplane form {
  margin-bottom: 0rem;
}

.backplane input[type=text] {
  width: 100%;
}

.backplane input[type=number] {
  width: 5.5rem;
  text-align: end;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .backplane .modal-inner .modal-content {
        min-width: 400px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .backplane .modal-inner .modal-content {
      max-width: 600px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
